@model ProductsViewModel

@{
    ViewData["Title"] = "Inventory";
}

<div class="container d-flex flex-column align-items-center mb-5 mt-5">
    
    <partial name="_AdminNavigation" />

    <div class="container d-flex justify-content-left mb-5">
        <a asp-action="CreateProduct" asp-controller="admin" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark">Add Product</a>
    </div>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Product Name</th>
                <th>Ingress</th>
                <th>Description</th>
                <th>Vendor Name</th>
                <th>Barcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var product in Model.ProductsCollection.Items)
        {
            <tbody>
                <tr>
                    <td>

                        <p class="fw-bold mb-1"></p>
                        <p class="text-muted fw-bold mb-0">@product.ProductName</p>


                    </td>
                    <td>
                        <p class="text-muted mb-0">@product.Ingress</p>
                    </td>
                    <td>
                        <p class="text-muted mb-0" style="max-width: 15rem;">@product.Description</p>
                    </td>
                    <td>
                        <p class="text-muted fw-bold mb-0">@product.VendorName</p>
                    </td>
                    <td>
                        <p class="text-muted mb-0">@product.BarCode</p>
                    </td>
                    <td>
                        <a asp-action="index" asp-controller="underdevelopment" class="btn btn-link btn-sm btn-rounded">
                            Edit
                        </a>
                    </td>
                </tr>

            </tbody>
        }
    </table>


</div>


